[submodule "src/generators/golang/templates"]
	path = src/generators/golang/templates
	branch = master
	url = ../Siigo.Archetype.Golang.DDD
[submodule "src/generators/dotnet/templates/ddd"]
	path = src/generators/dotnet/templates/ddd
	url = ../Siigo.Archetype.Csharp.DDD
	branch = master
[submodule "src/generators/dotnet/templates/microlito"]
	path = src/generators/dotnet/templates/microlito
	url = ../Siigo.Archearp.Microlito
	branch = SyncCli



