registry=https://pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/registry/ 

always-auth=true

; begin auth token
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/registry/:username=SiigoDevOps
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/registry/:_password=cGFuYnAycmFnZTNhM2NwZWU1N294NWE0N2tqbGxjbXk3cGIycW5qZHBqcGw1NWZma3FhcQ==
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/:username=SiigoDevOps
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/:_password=cGFuYnAycmFnZTNhM2NwZWU1N294NWE0N2tqbGxjbXk3cGIycW5qZHBqcGw1NWZma3FhcQ==
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

