registry=https://pkgs.dev.azure.com/SiigoDevOps/Architecture/_packaging/archetype-node/npm/registry/          
always-auth=true
; begin auth token
//pkgs.dev.azure.com/SiigoDevOps/Architecture/_packaging/archetype-node/npm/registry/:username=SiigoDevOps
//pkgs.dev.azure.com/SiigoDevOps/Architecture/_packaging/archetype-node/npm/registry/:_password=eWEzeWtzenF5YnVkcHFjZWc0aGhnNmh6ZjZtdXMza2F1ZWp3amlxNHB2d2RkMmNhangzcQ==
//pkgs.dev.azure.com/SiigoDevOps/Architecture/_packaging/archetype-node/npm/registry/:email=roar111743@siigo.com
//pkgs.dev.azure.com/SiigoDevOps/Architecture/_packaging/archetype-node/npm/:username=SiigoDevOps
//pkgs.dev.azure.com/SiigoDevOps/Architecture/_packaging/archetype-node/npm/:_password=eWEzeWtzenF5YnVkcHFjZWc0aGhnNmh6ZjZtdXMza2F1ZWp3amlxNHB2d2RkMmNhangzcQ==
//pkgs.dev.azure.com/SiigoDevOps/Architecture/_packaging/archetype-node/npm/:email=roar111743@siigo.com
; end auth token