registry=https://pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/registry/:username=SiigoDevOps
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/registry/:_password=N25ueHBteGZ0bDRheTU3azduaHBydzU1YTZtNTRhaWl2dGxiaGh5dTZ2Z3hvYjdlNW93YQ==
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/registry/:email=npm@siigo.com
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/:username=SiigoDevOps
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/:_password=N25ueHBteGZ0bDRheTU3azduaHBydzU1YTZtNTRhaWl2dGxiaGh5dTZ2Z3hvYjdlNW93YQ==
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-core/npm/:email=npm@siigo.com
; end auth token

