<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGetArchetype" value="https://pkgs.dev.azure.com/SiigoDevOps/Architecture/_packaging/NugetArchetype/nuget/v3/index.json" />
    <add key="nuget.siigo.com" value="https://pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/nuget.siigo.com/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <NuGetArchetype>
      <add key="Username" value="Here your email" />
      <add key="ClearTextPassword" value="<%= config.token %>" />
    </NuGetArchetype>
    <nuget.siigo.com>
      <add key="Username" value="Here your email" />
      <add key="ClearTextPassword" value="<%= config.token %>" />
    </nuget.siigo.com>
  </packageSourceCredentials>  
</configuration>
