<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NugetArchetype" value="https://pkgs.dev.azure.com/SiigoDevOps/Architecture/_packaging/NugetArchetype/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <NugetArchetype>
      <add key="Username" value="Here your email" />
      <add key="ClearTextPassword" value="7nnxpmxftl4ay57k7nhprw55a6m54aiivtlbhhyu6vgxob7e5owa" />
    </NugetArchetype>
  </packageSourceCredentials>  
</configuration>
